<!DOCTYPE html PUBLIC>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChungBuk University Major Books!</title>
  <link href="/public/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/css/freelancer.css" rel="stylesheet">
    <link href="/public/semantic.min.css" rel="stylesheet" >


  <style>
  h6 {
    display: block;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 1.4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  </style>
</head>

<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/admin/home">BILLY SHARE!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fa fa-bars"></i>
  </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/roomlist?page=0&perPage=10"> 스터디룸 목록 </a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/revlist?page=0&perPage=10">예약현황 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/returnlist?page=0&pePpage=10">반납목록 확인</a></li>
          <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/Statistics">예약통계 확인</a></li> -->
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/contactlist?page=0&perPage=10">문의내용 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/logout">로그아웃</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </nav>


  <br><br>
  <section class="portfolio bg-third ">
    <div class="container">
    </div>
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="/public/bootstrap/img/checked.png" alt="">
      <div class="row">
        <div class="col-md-1 mb-5 mb-lg-0">
        </div>
        <div class="col-md-10 mb-5 mb-lg-0">
          <h2 class="text-uppercase mb-0 text-center">스터디룸 등록성공!</h1>
            <hr>
            <br>
            <div class="row">
              <div class="col-md-12 mb-5 mb-lg-0">
                <h3 class="text-center"><a href="/admin/home">홈으로</a></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-5 mb-lg-0">
                <h3 class="text-center"><a href='/admin/register'>추가 등록하기</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
</div>
</section>


<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2018</small>
  </div>
</div>


<script src="/public/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/public/bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/public/bootstrap/js/jqBootstrapValidation.js"></script>
<script src="/public/bootstrap/js/contact_me.js"></script>
<script src="/public/bootstrap/js/imageUpload.js"></script>
<script src="/public/bootstrap/js/freelancer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>

</body>

</html>
