<!DOCTYPE html>
<html>

<head>
  <title>The Bak-one Website Template | Home :: w3layouts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="public/css/imgeffect.css" />
  <link href="/public/layoutit/src/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap.css" rel="stylesheet">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/imgeffect.css" rel="stylesheet">
  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/layoutit/src/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="public/css/style.css">
  <script src="script.js"></script>

  <link href="/public/assets/css/custom.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link href="/public/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

</head>

<body>
  <div class="header_bg">
    <div class="wrap">
      <div class="header">
        <div class="center-div">
          <a href="/"><img src="/public/images/logo.png" alt="" /></a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/" class="scroll">Home</a></li>
            <li><a href="/login" class="scroll">Guest</a></li>
            <li><a href="/login" class="scroll">SignIn</a></li>
            <li><a href="/signup" class="scroll">SignUp</a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">홈페이지 소개<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">스터디룸 예약</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/search">스터디룸 조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">예약목록 조회</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
      </li>
    </ul>
  </div>


  <div id="page-wrapper">
    <div id="page-inner">
      <div class="container">
        <div class="page-header text-center">
          <h1><span class="fa fa-book"></span> 사용자 프로필</h1>
          <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
        </div>
        <br>
        <div class="row">

          <div class="col-sm-6">
            <div class="well">
              <h3><span class="fa fa-user"></span> 로컬 프로필</h3>
              <br>
              <p>
                <strong>이메일</strong>: <%= user.email %><br><br>
                <strong>별명</strong>: <%= user.name %>
                <div>
                  <hr>
                  <a href="/process/listpost?page=1&perPage=5"  class="ui primary button"><span class="fa fa-book"></span>게시판 확인</a>
                </div>

                <div>
                  <hr>
                  <a href="/"  class="ui primary button"><span class="fa fa-book"></span>홈으로</a>
                </div>
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div
  </body>
  </html>
